* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
  letter-spacing: 0.5px;
  color: #000;
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
  font-family: 'Bangers', 'Dela Gothic One', 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', cursive;
  letter-spacing: 4px;
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 60px;
  font-weight: 400;
}

@media screen and (max-width: 991.98px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 60px;
  font-weight: 400;
}

@media screen and (max-width: 991.98px) {
  h3 {
    font-size: 30px;
  }
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.75;
}

@media screen and (max-width: 991.98px) {
  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#nav.nav-header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  background-color: #242625;
}

@media screen and (max-width: 991.98px) {
  #nav.nav-header {
    height: 70px;
  }
}

#nav.nav-header .site-title a {
  color: #fff;
  line-height: 100px;
}

@media screen and (max-width: 991.98px) {
  #nav.nav-header .site-title a {
    line-height: 70px;
    padding-left: 45px;
  }
  #nav.nav-header .site-title a::before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url("../images/favicon.png");
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 999;
  }
}

#nav.nav-header ul.menu-wrap {
  margin: 0;
  padding: 0;
  text-align: right;
}

#nav.nav-header ul.menu-wrap li {
  display: inline-block;
  list-style: none;
}

#nav.nav-header ul.menu-wrap li + li {
  margin-left: 30px;
}

#nav.nav-header ul.menu-wrap li.active {
  border-bottom: 2px solid #fff;
}

#nav.nav-header ul.menu-wrap li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 37px 0;
  text-decoration: none;
}

@media screen and (max-width: 991.98px) {
  #nav.nav-header ul.menu-wrap li a:not(.cta-button) {
    display: none;
  }
}

#nav.nav-header ul.menu-wrap li a.cta-button {
  background-color: #fff;
  color: #242625;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (max-width: 991.98px) {
  #nav.nav-header ul.menu-wrap li a.cta-button {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #3f51b5;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
}

#nav.nav-header ul.menu-wrap li a.cta-button:hover {
  opacity: 0.8;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0 100px;
  height: 90vh;
  min-height: 720px;
  background-color: #212647;
}

@media screen and (max-width: 991.98px) {
  #hero {
    height: auto;
    min-height: auto;
  }
}

#hero .hero-title,
#hero .hero-intro {
  color: #fff;
}

#work {
  position: relative;
}

#work .work-banner {
  height: 100vh;
  padding: 100px 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/favicon.png");
  background-size: cover;
  background-position: center center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991.98px) {
  #work .work-banner {
    display: none;
  }
}

#work .work-banner h2 {
  color: #fff;
  position: relative;
  z-index: 1;
}

#work .work-banner::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#work .work-list {
  position: relative;
}

#work .work-list .work-item {
  width: 100%;
  position: relative;
}

#work .work-list .work-item a {
  text-decoration: none;
}

#work .work-list .work-item .work-thumbnail {
  height: 50vw;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 991.98px) {
  #work .work-list .work-item .work-thumbnail {
    height: 100vw;
    padding: 30px;
  }
}

#work .work-list .work-item .work-thumbnail::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#work .work-list .work-item .work-thumbnail:hover::before {
  opacity: 0.5;
}

#work .work-list .work-item .work-thumbnail .work-category li,
#work .work-list .work-item .work-thumbnail .work-title,
#work .work-list .work-item .work-thumbnail .work-desc {
  color: #fff;
  position: relative;
  z-index: 0;
}

#work .work-list .work-item .work-thumbnail .work-category {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}

#work .work-list .work-item .work-thumbnail .work-category li {
  display: inline-block;
}

#work .work-list .work-item .work-thumbnail .work-category li + li {
  margin-left: 8px;
}

#work .work-list .work-item .work-thumbnail .work-category li::before {
  content: '#';
}

#work .work-list .work-item .work-thumbnail .work-title {
  line-height: 1.2;
}

#footer {
  background-color: #242625;
  padding: 42px 0;
}

#footer .contact .footer-title {
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
}

#footer .contact .social-media {
  margin: 24px 0 0;
  padding: 0;
}

#footer .contact .social-media li {
  display: inline-block;
  list-style: none;
}

#footer .contact .social-media li + li {
  margin-left: 30px;
}

#footer .contact .social-media li a {
  color: #fff;
}

#footer .copyright {
  color: #fff;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */