// Fonts
$font-decor: 'Bangers', 'Dela Gothic One', 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', cursive;
$font-sans: 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
$font-mono: 'monaco', monospace;

// Colors
$color-white: #fff;
$color-light-gray: #f4f4f4;
$color-border: #ddd;
$color-tue-red: #d24648;
$color-blue: #3f51b5;
$color-dark-blue: #212647;
$color-dark-gray: #242625;
$color-black: #000;