* {
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
  letter-spacing: 0.5px;
  color: #000;
}

h1, h1 a,
h2, h2 a {
  font-family: "Bangers", "Dela Gothic One", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", "Microsoft YaHei", cursive;
  letter-spacing: 4px;
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

@media screen and (max-width: 1199.98px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 60px;
  font-weight: 400;
}

@media screen and (max-width: 1199.98px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 60px;
  font-weight: 400;
}

@media screen and (max-width: 1199.98px) {
  h3 {
    font-size: 30px;
  }
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.75;
}

@media screen and (max-width: 1199.98px) {
  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#nav.nav-header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  background-color: #242625;
}

@media screen and (max-width: 1199.98px) {
  #nav.nav-header {
    height: 70px;
  }
}

#nav.nav-header .site-title a {
  color: #fff;
  line-height: 100px;
}

@media screen and (max-width: 1199.98px) {
  #nav.nav-header .site-title a {
    line-height: 70px;
    padding-left: 45px;
  }
  #nav.nav-header .site-title a::before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url("../images/favicon.png");
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 999;
  }
}

#nav.nav-header ul.menu-wrap {
  margin: 0;
  padding: 0;
  text-align: right;
}

#nav.nav-header ul.menu-wrap li {
  display: inline-block;
  list-style: none;
}

#nav.nav-header ul.menu-wrap li + li {
  margin-left: 30px;
}

#nav.nav-header ul.menu-wrap li.active {
  border-bottom: 2px solid #fff;
}

#nav.nav-header ul.menu-wrap li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 37px 0;
  text-decoration: none;
}

@media screen and (max-width: 1199.98px) {
  #nav.nav-header ul.menu-wrap li a:not(.cta-button) {
    display: none;
  }
}

#nav.nav-header ul.menu-wrap li a.cta-button {
  background-color: #fff;
  color: #242625;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1199.98px) {
  #nav.nav-header ul.menu-wrap li a.cta-button {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #3f51b5;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
}

#nav.nav-header ul.menu-wrap li a.cta-button:hover {
  opacity: 0.8;
}

.shape-wrapper {
  display: inline-block;
  width: 30px;
  max-width: 30px;
}

@media screen and (max-width: 1199.98px) {
  .shape-wrapper {
    display: none;
  }
}

.shape-wrapper .shape {
  width: 22.5px;
  height: 26px;
  -webkit-animation: shape 3s infinite linear alternate;
          animation: shape 3s infinite linear alternate;
}

.shape-wrapper .shape .polygon {
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-clip-path: polygon(50% 10%, 50% 10%, 100% 100%, 0% 100%, 50% 10%, 50% 10%);
          clip-path: polygon(50% 10%, 50% 10%, 100% 100%, 0% 100%, 50% 10%, 50% 10%);
  -webkit-animation: polygon 3s infinite linear alternate;
          animation: polygon 3s infinite linear alternate;
}

@-webkit-keyframes shape {
  0%, 5% {
    width: 22.5px;
    height: 26px;
  }
  33%, 38% {
    width: 21.3px;
    height: 21.3px;
  }
  66%, 71% {
    width: 28.5px;
    height: 27px;
  }
  95%, 100% {
    width: 30px;
    height: 26px;
  }
}

@keyframes shape {
  0%, 5% {
    width: 22.5px;
    height: 26px;
  }
  33%, 38% {
    width: 21.3px;
    height: 21.3px;
  }
  66%, 71% {
    width: 28.5px;
    height: 27px;
  }
  95%, 100% {
    width: 30px;
    height: 26px;
  }
}

@-webkit-keyframes polygon {
  0%, 5% {
    background: #fff;
    -webkit-clip-path: polygon(50% 10%, 50% 10%, 100% 100%, 0% 100%, 50% 10%, 50% 10%);
            clip-path: polygon(50% 10%, 50% 10%, 100% 100%, 0% 100%, 50% 10%, 50% 10%);
  }
  33%, 38% {
    background: #fff;
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);
            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);
  }
  66%, 71% {
    background: #fff;
    -webkit-clip-path: polygon(100% 38.31%, 100% 38.31%, 80.86% 100%, 19.14% 100%, 0% 38.31%, 50% 0%);
            clip-path: polygon(100% 38.31%, 100% 38.31%, 80.86% 100%, 19.14% 100%, 0% 38.31%, 50% 0%);
  }
  95%, 100% {
    background: #fff;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}

@keyframes polygon {
  0%, 5% {
    background: #fff;
    -webkit-clip-path: polygon(50% 10%, 50% 10%, 100% 100%, 0% 100%, 50% 10%, 50% 10%);
            clip-path: polygon(50% 10%, 50% 10%, 100% 100%, 0% 100%, 50% 10%, 50% 10%);
  }
  33%, 38% {
    background: #fff;
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);
            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);
  }
  66%, 71% {
    background: #fff;
    -webkit-clip-path: polygon(100% 38.31%, 100% 38.31%, 80.86% 100%, 19.14% 100%, 0% 38.31%, 50% 0%);
            clip-path: polygon(100% 38.31%, 100% 38.31%, 80.86% 100%, 19.14% 100%, 0% 38.31%, 50% 0%);
  }
  95%, 100% {
    background: #fff;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}

#footer {
  background-color: #242625;
  padding: 42px 0;
}

@media screen and (max-width: 1199.98px) {
  #footer {
    padding: 30px 0 calc(30px + 44px);
  }
}

#footer .contact .footer-title {
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1199.98px) {
  #footer .contact .footer-title {
    font-size: 20px;
  }
}

#footer .contact .social-media {
  margin: 24px 0 0;
  padding: 0;
}

@media screen and (max-width: 1199.98px) {
  #footer .contact .social-media {
    margin: 16px 0;
  }
}

#footer .contact .social-media li {
  width: 20px;
  display: inline-block;
  list-style: none;
}

@media screen and (max-width: 1199.98px) {
  #footer .contact .social-media li {
    width: 20px;
  }
}

#footer .contact .social-media li + li {
  margin-left: 18px;
}

#footer .contact .social-media li a {
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#footer .contact .social-media li a:hover {
  opacity: 0.7;
}

#footer .copyright {
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 1199.98px) {
  #footer .copyright {
    text-align: left;
  }
}

h3, h4, h5, h6 {
  letter-spacing: 1px;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.75;
  margin: 0;
}

li {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.75;
}

q {
  font-family: "monaco", monospace;
  font-style: italic;
  color: #d24648;
  letter-spacing: 0;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  border-radius: 4px;
}

blockquote {
  font-family: "monaco", monospace;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
}

figcaption {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  opacity: 0.7;
}

hr {
  margin: 84px 0;
}

@media screen and (max-width: 1199.98px) {
  hr {
    margin: 54px 0;
  }
}

.sketchfab-embed-wrapper,
.youtube-embed-wrapper {
  padding: 56.25% 0 0 0;
  position: relative;
}

.sketchfab-embed-wrapper iframe,
.youtube-embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.font-bold {
  font-weight: 600;
}

.font-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

table {
  width: 100%;
}

table tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

table tbody tr th, table tbody tr td {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  padding: 15px 25px;
}

table tbody tr td:first-child {
  width: 25%;
}

table tbody tr td:last-child {
  width: 75%;
}

#content .work-header {
  padding: 300px 0 200px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (max-width: 1199.98px) {
  #content .work-header {
    padding: calc(70px + 150px) 0 150px;
  }
}

#content .work-header::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#content .work-header .header-title {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

#single-work .work-content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 80px 0;
}

@media screen and (max-width: 1199.98px) {
  #single-work .work-content {
    padding: 54px 0;
  }
}

.fancybox-infobar {
  color: #fff;
}

.fancybox-infobar span {
  color: #fff;
}

.fancybox-button svg {
  fill: #fff;
}

.fancybox-button svg path {
  fill: #fff;
}
/*# sourceMappingURL=work.css.map */